In [46]:
weight1 = [25,30,28,35,28,34,26,29,30,26,28,32,31,30,45]
weight2=  weight1 + stats.norm.rvs(scale = 5 ,loc = -1.25 ,size =15)
print(weight1)
print(weight2)

[25, 30, 28, 35, 28, 34, 26, 29, 30, 26, 28, 32, 31, 30, 45]
[27.70051673 26.33110065 26.67010845 34.37223272 28.22738979 36.88256931
 17.7902924  33.16058724 30.91132706 22.79482039 28.1473636  33.59689259
 26.17011265 25.6566469  49.25818784]

In [47]:
import pandas as pd
import numpy as np

In [48]:
weight_df = pd.DataFrame({"weight_10":np.array(weight1),"weight_20":np.array(weight2)})
weight_df

    weight_10  weight_20
0          25  27.700517
1          30  26.331101
2          28  26.670108
3          35  34.372233
4          28  28.227390
5          34  36.882569
6          26  17.790292
7          29  33.160587
8          30  30.911327
9          26  22.794820
10         28  28.147364
11         32  33.596893
12         31  26.170113
13         30  25.656647
14         45  49.258188

In [51]:
_,p_value = stats.ttest_rel(a=weight1,b=weight2)
print(p_value)
print(_)

0.5173830950321687
0.6641513394048082

In [54]:
if p_value < 0.05:
    print("we are rejecting null hypothesis")
else:
    print("we are accepting null hypothesis")

we are accepting null hypothesis