In [62]:
import scipy.stats as stats
import seaborn as sns
import pandas as pd
import numpy as np

dataset=sns.load_dataset("tips")

In [63]:
dataset.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [65]:
dataset_table=pd.crosstab(dataset['sex'],dataset['smoker'])
print(dataset_table)
dataset_table.values

smoker  Yes  No
sex
Male     60  97
Female   33  54

array([[60, 97],
       [33, 54]], dtype=int64)

In [67]:
observed_values = dataset_table.values
print("observed values :- \n",observed_values)

observed values :-
 [[60 97]
 [33 54]]

In [68]:
val=stats.chi2_contingency(dataset_table)
val
expected_values=val[3]

In [72]:
no_of_rows=len(dataset_table.iloc[0:2,0])
no_of_columns=len(dataset_table.iloc[0,0:2])
ddof=(no_of_rows-1)*(no_of_columns-1)
print("Degree of Freedom :- ",ddof)
alpha=0.05

Degree of Freedom :-  1

In [82]:
from scipy.stats import chi2
chi_square = sum([(o-e)**2./e for o,e in zip(observed_values,expected_values)])
chi_square_statistics= chi_square[0]+chi_square[1]
print("chi-square statistic :- ",chi_square_statistics)

chi-square statistic :-  0.001934818536627623

In [91]:
critical_value=chi2.ppf(q=1-alpha,df=ddof)
print(critical_value)

3.841458820694124

# or

In [93]:
p_value =1 - chi2.cdf(x=chi_square_statistics,df=ddof)

In [95]:
print("p-value : ",p_value)
print("Significance level : ",alpha)
print("Degree of Freedom : ",ddof)
print("P-value : ",p_value)

p-value :  0.964915107315732
Significance level :  0.05
Degree of Freedom :  1
P-value :  0.964915107315732

In [97]:
if chi_square_statistics >= critical_value:
    print("Reject Ho, There is a relationship between 2 categorical variables")
else:
    print("Reject Ho, There is no relationship between 2 categorical variables")

Reject Ho, There is no relationship between 2 categorical variables

In [99]:
if p_value >= alpha:
    print("Reject Ho, There is a relationship between 2 categorical variables")
else:
    print("Reject Ho, There is no relationship between 2 categorical variables")

Reject Ho, There is a relationship between 2 categorical variables